<section class="login-blog">
    <div class="container">
      <div class="left-section">
        <img src="../../assets/logo.jpeg" alt="Logo" class="logo">
      </div>
      <div class="right-section">
        <div class="form-container">
          <div class="form-header">
            <button class="login-btn">Login</button>
            <button class="register-btn">Register</button>
          </div>
          <h1>Welcome</h1>
          <p>Please login to your account</p>
          <form (ngSubmit)="onSubmit()">
            <input type="email" id="username" [(ngModel)]="username" name="username" required placeholder="Username or Email">
            <input type="password" id="password" [(ngModel)]="password" name="password" required placeholder="Password">
            
            <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>

            <div class="submit-blog">
              <a href="#" class="forgot-password">Forgot Password?</a>
              <button type="submit" class="submit-btn">OK</button>
            </div>
          </form>
          <button class="register-school">Register your School in Our Apps</button>
          <p class="terms">Terms and Conditions & Privacy Policy</p>
        </div>
      </div>
    </div>
  </section>