<section class="dashboard-blog">
    <div class="dashboard-header">
        <div class="logo-box">
            <a>
                <h1><img src="../../assets/logo.jpeg" /> Delhi Public School</h1>
            </a>
        </div>
        <div class="login-info">
            <p class="free-trial">Free Trial -</p>
            <p class="thirty-days">30 Days Trial</p>
            <p class="buy-now">Buy Now</p>
            <img class="user-img" src="../../assets/user-avtr.png">
            <p class="user-name">John Doreman</p>
            <img class="dropdown" src="../../assets/dropdown.jpeg">
            <img class="notify-ico" src="../../assets/notify-ico.jpeg">
        </div>
    </div>

    <div class="dashboard-view">
        <div class="side-bar">
            <div class="profile-box">
                <span>John Doreman</span>
                <img src="../../assets/toggle.jpeg">
            </div>
            <div class="bar-list">
                <ul>
                    <li (mouseenter)="isHoveredAdmin = true" (mouseleave)="isHoveredAdmin = false" ><img [src]="isHoveredAdmin ? '../../assets/eyeblue.jpeg' : '../../assets/eyewhite.jpeg'" alt="Image"> Go to Super Admin</li>
                    <li (mouseenter)="isHoveredSchool = true" (mouseleave)="isHoveredSchool = false" ><img [src]="isHoveredSchool ? '../../assets/eyeblue.jpeg' : '../../assets/school.jpeg'" alt="Image"> My School</li>
                    <li (mouseenter)="isHoveredManagement = true" (mouseleave)="isHoveredManagement = false" ><img [src]="isHoveredManagement ? '../../assets/eyeblue.jpeg' : '../../assets/eyewhite.jpeg'" alt="Image"> School Management</li>
                    <li (mouseenter)="isHoveredAcademics = true" (mouseleave)="isHoveredAcademics = false" ><img [src]="isHoveredAcademics ? '../../assets/eyeblue.jpeg' : '../../assets/eyewhite.jpeg'" alt="Image"> Academics</li>
                </ul>
                <ul class="dashboard-list">
                    <li><img src="../../assets/dashboard.jpeg">Dashboard</li>
                    <li (mouseenter)="isHoveredClass = true" (mouseleave)="isHoveredClass = false" ><img [src]="isHoveredClass ? '../../assets/filewhite.jpeg' : '../../assets/fileblue.jpeg'" alt="Image">Class</li>
                    <li (mouseenter)="isHoveredSections = true" (mouseleave)="isHoveredSections = false" ><img [src]="isHoveredSections ? '../../assets/filewhite.jpeg' : '../../assets/fileblue.jpeg'" alt="Image">Sections</li>
                    <li (mouseenter)="isHoveredSubjects = true" (mouseleave)="isHoveredSubjects = false" ><img [src]="isHoveredSubjects ? '../../assets/filewhite.jpeg' : '../../assets/fileblue.jpeg'" alt="Image">Subjects</li>
                    <li (mouseenter)="isHoveredTable = true" (mouseleave)="isHoveredTable = false" ><img [src]="isHoveredTable ? '../../assets/filewhite.jpeg' : '../../assets/fileblue.jpeg'" alt="Image">Time Table</li>
                    <li (mouseenter)="isHoveredAttendence = true" (mouseleave)="isHoveredAttendence = false" ><img [src]="isHoveredAttendence ? '../../assets/filewhite.jpeg' : '../../assets/fileblue.jpeg'" alt="Image">Attendence</li>
                    <li (mouseenter)="isHoveredLeave = true" (mouseleave)="isHoveredLeave = false" ><img [src]="isHoveredLeave ? '../../assets/filewhite.jpeg' : '../../assets/fileblue.jpeg'" alt="Image">Student Leave</li>
                    <li (mouseenter)="isHoveredStudy = true" (mouseleave)="isHoveredStudy = false" ><img [src]="isHoveredStudy ? '../../assets/filewhite.jpeg' : '../../assets/fileblue.jpeg'" alt="Image">Study Materials</li>
                    <li (mouseenter)="isHoveredWork = true" (mouseleave)="isHoveredWork = false" ><img [src]="isHoveredWork ? '../../assets/filewhite.jpeg' : '../../assets/fileblue.jpeg'" alt="Image">Home Work</li>
                    <li (mouseenter)="isHoveredNotice = true" (mouseleave)="isHoveredNotice = false" ><img [src]="isHoveredNotice ? '../../assets/filewhite.jpeg' : '../../assets/fileblue.jpeg'" alt="Image">Notice Board</li>
                    <li (mouseenter)="isHoveredEvents = true" (mouseleave)="isHoveredEvents = false" ><img [src]="isHoveredEvents ? '../../assets/filewhite.jpeg' : '../../assets/fileblue.jpeg'" alt="Image">Events</li>
                    <li (mouseenter)="isHoveredLive = true" (mouseleave)="isHoveredLive = false" ><img [src]="isHoveredLive ? '../../assets/filewhite.jpeg' : '../../assets/fileblue.jpeg'" alt="Image">Live Classes <span>(Go Pro)</span></li>
                </ul>
            </div>
        </div>
        <div class="data-panel-box">
            <div class="path">
                <p>Home/ Academics/ Subjects</p>
                <hr>
            </div>
            <div class="table-heading">
                <h3>Student Leave</h3>
                <div class="filter-search">
                    <div class="filter-search-box">
                        <select>
                            <option>2022 - 2023</option>
                            <option>2021 - 2022</option>
                            <option>2020 - 2021</option>
                        </select>
                        <div class="search-bar">
                            <input type="text" placeholder="Search Student">
                            <img src="../../assets/search-ico.jpeg">
                        </div>
                    </div>
                    <div class="add-btn">
                        <button (click)="openModal()"><img src="../../assets/add.jpeg"> ADD NEW LEAVE</button>
                    </div>
                </div>
            </div>
            <app-add-leave-modal *ngIf="isModalOpen" (close)="closeModal()" (newLeaveAdded)="addLeave($event)"></app-add-leave-modal>
            <div class="data-table">

                <table>
                    <tr>
                        <th>Enrollment Number</th>
                        <th>Student Name</th>
                        <th>Class</th>
                        <th>Section</th>
                        <th>Reason</th>
                        <th>Leave Date</th>
                        <th>status</th>
                    </tr>
                    <tr *ngFor="let leave of studentLeaves">
                        <td>{{ leave.enrollmentNumber }}</td>
                        <td>{{ leave.name }}</td>
                        <td>{{ leave.class }}</td>
                        <td>{{ leave.section }}</td>
                        <td>{{ leave.reason }}</td>
                        <td>{{ leave.leaveDate }}</td>
                        <td>{{ leave.status }}</td>
                      </tr>
                </table>
            </div>
        </div>
    </div>
</section>